.spin {
  animation: spin 4s linear infinite;
}

@-moz-keyframes spin {
  100% {
    -moz-transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.pulse {
  animation: pulse 1s linear infinite;
}

@keyframes pulse {
  0% {
    opacity:1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity:1;
  }
}
